extends layout

block content	
	.container
		.row.center
			.col.l12
				h1.header.grey-darken-3-text About Us
				h5.header.grey-darken-3-text A small group of residential architects who believe in the user experience.
	.container
		.row.contact
			form.col.s.12.m4.l6
				p.light.left.pad-right ALTUS Architecture + Design is a firm that focuses on creating places for living that reflect the identity of the client and are inseparable from their context or site. As a full-services architecture and interior design firm the work that we develop with our clients extends the ideals and issues of the project through to a level of craft. We believe in the refinement of human scale, the celebration of light, the intrinsic characteristics of materials and excellence of execution culminating in work of lasting integrity. 
				p.light.left.pad-right First among these issues is the celebration of the site and the gifts of the land. Each individual location has a sense of place and identity that should be amplified, whether it is on a lakefront site or 8 floors above the city. Thoughtful placement and composition of the aspects of the house on the site, with the integration of landscape design allows the project to be a natural extension of that place. Indoor and outdoor spaces merge, integrating the living experience with the site. 
				p.light.left.pad-right The classic role of the architect who develops a "unique and custom" design for an individual client in a particular place often leads to a formulaic methodology with predictable "signature" results of an individual style attributable to the architect, with the client succumbing to the will of the architect. It is the belief of this firm, that in this period of maturing Modernism, advancing technology and emerging green design, that one must understand the qualities and issues present in all great architecture over time. For it is these issues of design integrity that can be made unique in each project. The homes on this site are an exploration of such issues that result in progressive contextualism - a belief in place making that allows each project to express an individual identity while evoking intangible experiential qualities. 
			.col.s12.m4.l6
				p.light.left Equally important to the creation of architecture is the capture and development of natural light. Great residential architecture seeks to celebrate the rituals of the day, and light is the spiritual food that nourishes the soul, transforming these experiences. Understanding the path of the sun, one can compose the spaces within and outside the home with natural light, enriching the experiential qualities of space and creating a sense of place. 
				p.light.left What is unique in residential design is the exploration of spatial dynamics with a human scale. Creating a sequence of events through a space allows one's senses to become engaged, creating a visceral experience. We believe in narrow houses that draw in natural light and sculpt spaces inside and out. Developing compressing and releasing spaces creates dynamics of intimacy and openness, nurturing a relationship with the place.
				p.light-left The most identifiable aspect of architecture and perceived value of design is the quality of materials. Beyond cost, each material we select to build with has intrinsic qualities that evoke characteristics of solidity, plasticity, texture and color, while also absorbing or transmitting light. An exploration of these qualities transforms the experience of each house and conveys a relationship with the craft of building. 



