extends layout

block content
	.row
		.col.s12.m12.l12
			.container
				.center
					img.responsive-img#logo(src='/img/full-altus-logo.png')
				.container.home-text
					h5.center ALTUS ARCHITECTURE &#43; DESIGN is a Minneapolis residential architecture firm that focuses on the user experience to solve their clients needs.
				.container.home-buttons
					ul.center
						li
							a.waves-effect.waves-light.btn-large.grey start your project 
						li
							a.waves-effect.waves-light.btn-large.grey our firm profile
	.row.project
		.col.s12.m12.l12
			h4.projects Project Work
			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='/residential-projects.html')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') Mayo Woodlands Prairie
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House

			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House

			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid.project
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l12.project
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
	.row.project
		.col.s12.m12.l12
			.slider
				ul.slides
					li
						img.responsive-img(src='/img/Barcelona.jpg')
						.caption.center-align
							h3 6 time <br> 
							h3 AIA Rave Award Winner
					li
						img.responsive-img(src='/img/Barcelona.jpg')
						.caption.center-align
							h3 4 time <br>
							h3 Star Tribune Home of the Month Winner
					li
						img.responsive-img(src='/img/Barcelona.jpg')
						.caption.center-align
							h3 AIA Minnesota <br> 
							h3 Architect of Distinction Award 2009


