extends layout

block content
	.section.no-pad-top#index-banner
		.row
			.col.s12.m7.l7
				.container
					.logo
						img.responsive-img(src='/img/altus-logo.svg')
						h3.sub-logo ARCHITECTURE &#43; DESIGN
			.col.s12.m5.l5
				.container
					span.quote &#147; 
					p.quote-text We don't have any &#8220;styles&#8221; we focus on. We solve our clients problems by focusing on their user experience. <br><br> &#8211; Tim Alt Principal Architect
	.row.title
		.col.s12.m8.l3
			h4.projects Project Work
	.section
			.row.port-grid
				.col.s12.m12.l4
					.img-container
							a(href='/residential-projects.html')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') Mayo Woodlands Prairie
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4 
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4 
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4 
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4 
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4 
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House

	
