nav.grey.darken-4(role='navigation')
    .nav-wrapper
        ul.main-nav.left.hide-on-med-and-down
            li
                a(href='/') Home
            li
                a.active.dropdown-button(href='#!', data-activates='dropdown1') Residential Projects
                    i(class='material-icons right') arrow_drop_down
                ul#dropdown1.dropdown-content
                    li
                        a(href='/residential-projects.html') Mayo Woodlands Prairie
                    li
                        a(href='#') Minnetonka Craftsman
                    li
                        a(href='#') Deephaven Modern
                    li
                        a(href='#') White Bear Lake
            li
                a.active.dropdown-button(href='#!', data-activates='dropdown2') Other Projects
                    i(class='material-icons right') arrow_drop_down
                ul#dropdown2.dropdown-content
                    li
                        a(href='#') Dalseth Dental
                    li
                        a(href='#') Streeter &#43; Assoc.
            li
                a(href='link3.html') About
            li
                a(href='link3.html') Contact
        ul#nav-mobile.side-nav(style='left: -250px;')
            li.no-padding
                ul.collapsible.collapsible-accordion
                    li
                        a.collapsible-header.waves-effect.waves-grey Residential Projects
                            i(class='material-icons right') more_vert
                        .collapsible-body 
                            ul
                                li
                                    a(href='#') Mayo Woodlands Prairie
                                li
                                    a(href='#') Minnetonka Craftsman
                                li
                                    a(href='#') Deephaven Modern
                                li
                                    a(href='#') White Bear Lake
             li.no-padding
                ul.collapsible.collapsible-accordion
                    li
                        a.collapsible-header.waves-effect.waves-grey Other Projects
                            i(class='material-icons right') more_vert
                        .collapsible-body 
                            ul
                                li
                                    a(href='#') Dalseth Dental
                                li
                                    a(href='#') Streeter &#38; Assoc.
            li.no-padding
                a.waves-effect.waves-grey(href='link3.html') About
            li.no-padding
                a.waves-effect.waves-grey(href='link3.html') Contact
        a.button-collapse(href='#', data-activates='nav-mobile')
            i(class='material-icons') menu   