extends layout

block content	
	.section.no-pad-bot(id='index-banner')
		.container
			br
			br
			h1.header.center.deep-purple-text Mayo Woodlands Prairie House 
			.row.center
				h5.header.col.s12.light A modern take on the classic prairie house design.
			.row.center
				a.modal-trigger.btn-large.waves-effect.waves-light.deep-purple(href='#modal1') Project Details
				#modal1.modal.modal-fixed-footer
					.modal-content
						h4 Project Details
						p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					.modal-footer
						a.modal-action.modal-close.waves-effect.waves-light-deep-purple.btn-flat close
	.section
			.row.port-grid
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') Mayo Woodlands Prairie
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4 
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4 
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
			.row.port-grid
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
				.col.s12.m12.l4 
					.img-container
							a(href='#')
								img.responsive-img(src='/img/altus-home.jpg')
								.content-blok
									a(href='#') The Goreman House
	
