@import '_settings'

// normalize-css()
// base()

html
	font-family Century Gothic, Didact Gothic, sans serif
		
.row.port-grid.project
	margin-bottom 0em

.row.contact 
	padding-bottom: 13.16em
	margin-bottom 0px


a.links 
	color #424242 
	text-decoration underline


a.links:hover 
	color #757575 
	text-decoration none


.pad-right 
	padding-right 4em
	

.btn:hover 
.btn-large:hover
	background-color #424242 !important 

.row.project
.row .col.project
	padding 0
	margin 0

.icon-block
	padding 0 15px
	
.icon-block .material-icons
	font-size inherit

.side-nav .collapsible-header
	margin 0rem

nav ul a 
	display inline-block
	
nav .button-collapse
	margin-left 2rem

.dropdown-content li>a 
.dropdown-content li>span
	font-size 1rem
	color: #000;
	
.dropdown-content li:hover
	background-color: #cdcdcd
	
img#logo
	margin-top 4rem
	
	
h3.sub-logo
	font-size 3.1rem
	text-transform uppercase
	margin 0
	color #000
	letter-spacing 1.1rem

.container-header
	padding 0 5em 2em 5em
	text-align center


.quote
	font-family: Times New Roman, Times New Roman, Times, serif
	float left 
	font-size 600%
	height .75em
	margin-top -.4em

p.quote-text 
	font-size 1.7rem
	margin 1em 0 0 0
	text-align center

h4.projects
	padding .5em
	background none
	font-size 2rem
	margin 0 0 .2em 0

.row.port-grid
	margin-bottom 0.27em

.row .col
	padding 0 0.15rem
	
a img
	transition: transform .3s ease;

.img-container
	position relative
	overflow hidden
	line-height 0.0
	
a img:hover
	overflow hidden
	-webkit-transform scale(1.05)
	-moz-transform scale(1.05)
	-ms-transform scale(1.05)
	transform scale(1.05)
	-webkit-backface-visibility hidden


.content-blok
	position absolute
	bottom 0
	left 0
	bottom 6%
	height auto
	padding 1em
	background rgba(0,0,0,.7)
	font-size 1.2rem
	
.content-blok a
	color: #fff
	
.home-text
	padding 2% 0

.home-buttons ul
	list-style none
	margin 0

.home-buttons ul li
	display inline
	padding-left 3%
.home-buttons ul.center li a
	margin-bottom 3%

.slider .indicators .indicator-item.active
	background-color #000
	
.materialbox-caption
	font-size 3rem
	height 10%
	
@css {
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	    border-bottom: 1px solid #424242;
	    box-shadow: 0 1px 0 0 #424242;
    }
input[type=text]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
		color: #424242;
	}
}	

footer.page-footer
	margin-top 0px

	


